body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #c0bfbf;
}

.jump1,
.jump2,
.jump3
{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #000;
}

.jump1 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.1s;
}

.jump2 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.2s;
}

.jump3 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.3s;
}

@keyframes typing {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(0px);
  }

  35% {
    transform: translateY(10px);
  }

  45% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-10px);
  }

  75% {
    background-color: white;
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}